<html>
    <head>
        <title>Kyle's Web Server</title>
        <link id="stylesheet" rel= "stylesheet" href = "/static/styles/light.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap" rel="stylesheet">
        <link rel= "shortcut icon" href= "/static/images/favicon.ico">
    </head>

    <body>
        <p id="title-name">Kyle Wagner</p>
        
        <div id="links-wrapper">
            <a class="header-link" href="/">Home</a>
            <a class="header-link" href="/python">Python</a>
            <a class="header-link" href="/javascript">Javascript</a>
            <a class="header-link" href="/cpp">C++</a>
            <a class="header-link" href="/ruby">Ruby</a>
            <a class="header-link" href="/blender">Blender</a>
            <a class="header-link" href="/unreal">Unreal Engine</a>
        </div>

        <br>
        <br>

        <div id="about-paragraph">
            <p class="category-title">
                Here's a few screencaps of things I've made in Blender:
            </p>
            <br>

            <p>
                <span class="project-title">Low poly well:</span><br>
                <span class="project-description">
                    <a href="/static/images/LowPolyWell.png" target="_blank">
                    <img src="/static/images/LowPolyWell.png" width="250px"></a>
                    <br>Click to open in new window
                </span>
            </p>
            <br>

            <p>
                <span class="project-title">Alien Sculpt:</span><br>
                <span class="project-description">
                    <a href="/static/images/AlienSculpt.png" target="_blank">
                    <img src="/static/images/AlienSculpt.png" width="250px"></a>
                    <br>Click to open in new window
                </span>
            </p>
            <br>

            <p>
                <span class="project-title">Low poly hover-car:</span><br>
                <span class="project-description">
                    <a href="/static/images/HoverCar.png" target="_blank">
                    <img src="/static/images/HoverCar.png" width="250px"></a>
                    <br>Click to open in new window
                </span>
            </p>
            <br>














            
            
        </div>


        <div id="styleButtonsWrapper">
            <span id="themeText">Choose a theme:</span>
            <button id="styleButton" onclick="changeTheme('/static/styles/light.css')">Light</button>
            <button id="styleButton" onclick="changeTheme('/static/styles/dark.css')">Dark</button>
        </div>


        <script src="/static/scripts/scripts.js"></script>
    </body>

</html>