<html>
    <head>
        <title>Kyle's Web Server</title>
        <link id="stylesheet" rel= "stylesheet" href = "/static/styles/light.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap" rel="stylesheet">
        <link rel= "shortcut icon" href= "/static/images/favicon.ico">
    </head>

    <body>
        <p id="title-name">Kyle Wagner</p>
        
        <div id="links-wrapper">
            <a class="header-link" href="/">Home</a>
            <a class="header-link" href="/python">Python</a>
            <a class="header-link" href="/javascript">Javascript</a>
            <a class="header-link" href="/cpp">C++</a>
            <a class="header-link" href="/ruby">Ruby</a>
            <a class="header-link" href="/blender">Blender</a>
            <a class="header-link" href="/unreal">Unreal Engine</a>
        </div>

        <br>
        <br>

        <div id="about-paragraph">
            <p class="category-title">
                Python projects:
            </p>
            <br>

            <p>
                <span class="project-title">FTP Auto-upload client:</span><br>
                <span class="project-description">
                    A basic FTP uploader, written in Python/PyQt5, and compiled with pyinstaller.<br>
                    Once configured, the program runs silently to upload selected files to a specified FTP server.<br>
                    Intended for use in conjunction with a scheduler, or as a quick shortcut, for easily uploading the same files regularly.<br>
                    GitHub Links (open in new window):&nbsp; <a href="https://github.com/kylemwagner83/FTPAutoUpload/tree/master/dist" target="_blank">Compiled EXE's</a>
                    &nbsp; <a href="https://github.com/kylemwagner83/FTPAutoUpload" target="_blank">Source Code</a>
                </span>
            </p>
            <br>


            <p>
                <span class="project-title">Portfolio website:</span><br>
                <span class="project-description">
                    This website is created using only HTML, Javascript, and CSS.<br>
                    It is served by a simple backend written in Python/Flask.<br>
                    GitHub Link (opens in new window):&nbsp; <a href="https://github.com/kylemwagner83/MyFlaskServer" target="_blank">Source Code</a>
                </span>
            </p>
            <br>

            <p>
                <span class="project-title">Upcoming projects:</span><br>
                <span class="project-description">
                     - Web application with database integration<br>
                     - Google analytics API auto-reporting<br>
                     - File/directory change monitor
                </span>
            </p>
            <br>


        </div>


        
        <div id="styleButtonsWrapper">
            <span id="themeText">Choose a theme:</span>
            <button id="styleButton" onclick="changeTheme('/static/styles/light.css')">Light</button>
            <button id="styleButton" onclick="changeTheme('/static/styles/dark.css')">Dark</button>
        </div>


        <script src="/static/scripts/scripts.js"></script>
    </body>

</html>