<html>
    <head>
        <title>Kyle's Web Server</title>
        <link id="stylesheet" rel= "stylesheet" href = "/static/styles/light.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap" rel="stylesheet">
        <link rel= "shortcut icon" href= "/static/images/favicon.ico">
    </head>

    <body>
        <p id="title-name">Kyle Wagner</p>
        
        <div id="links-wrapper">
            <a class="header-link" href="/">Home</a>
            <a class="header-link" href="/python">Python</a>
            <a class="header-link" href="/javascript">Javascript</a>
            <a class="header-link" href="/cpp">C++</a>
            <a class="header-link" href="/ruby">Ruby</a>
            <a class="header-link" href="/blender">Blender</a>
            <a class="header-link" href="/unreal">Unreal Engine</a>
        </div>

        <br>
        <br>

        <div id="about-paragraph">
            <p class="category-title">
                Unreal Engine stuff
            </p>
            <br>



        <div id="styleButtonsWrapper">
            <span id="themeText">Choose a theme:</span>
            <button id="styleButton" onclick="changeTheme('/static/styles/light.css')">Light</button>
            <button id="styleButton" onclick="changeTheme('/static/styles/dark.css')">Dark</button>
        </div>


        <script src="/static/scripts/scripts.js"></script>
    </body>

</html>